body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 100vw;
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
}
.right-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.left-header{
    padding-left: 150px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
ul{
    list-style-type: none;
}
a, .right-header{
    text-decoration-line: none;
    color: #E5E7EB;
    padding: 8px;
    padding-right: 20px;
    font-size: 18px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    font-size: 18px;
    padding: 42px;
}
.hero{
    display: flex;
    direction: row;
    padding: 0px 150px 100px 150px;
    /*height: 20%;*/ /*doesnt achieve desired outcome*/
    background-color: #1f2937;
    flex: 1 1 0%;
    
}
ul.right-header{
    padding-right: 150px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;    
}
.hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    flex: 1 1 0%;   
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
#hero-main-text{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
#hero-secondary-text{
    color: #E5E7EB;
    font-size: 18px;
}
button{
    background-color: #3882f6;
    border-radius: 25px;
    width: 100px;
    height: 30px;
    color: #F9FAF8;  
    font-weight: bold; 
}
#info-txt{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.info-sqrs{
    display: flex;
    flex-direction: row;
}
#info-txt{
    text-align: center;
}
.sqr{
    
    border: 5px solid #3882f6; 
    height: 150px;
    width: 150px;
    border-radius: 25px;
}
.sqrs-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 20px;
    text-align: center;
}
.cont2{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 150px;
    max-width: 813px;    
}
#quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
#thor{
    align-self: flex-end;
    font-weight: 900;
    font-size: 24px;
}
.cont3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: #F9FAF8 ;
    padding: 50px 100px 50px 100px;
    margin: 50px 0px 50px 0px;
}
